@import '../styles/fonts';
@import '../styles/variables';
@import '../styles/ssc_common';

body {
  color: $black;
  margin: 0;
  min-width: 360px;
  min-height: 210px;
}

#popup {
  margin: 0;
  border: 1px solid #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    color: $primary;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  h2 {
    font-size: 1.5em;
    text-align: center;
  }

  button > p {
    font-size: 1.1em;
  }

  .ssc_popup {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    input {
      font-size: 0.8em;
      border-radius: 5px;
      height: 1.5em;
      border: 1px solid #999;
      text-align: center;
    }
    input.copied {
      background-color: $hover;
      color: white;
    }
  }
  .ssc_popupHeader {
    width: 100%;
    background-color: $primary;
    color: white;
  }
  .ssc_popupHeader > h2 {
    flex-grow: 1;
  }
  .ssc_popupFooter {
    width: 100%;
    padding-bottom: 10px;
    background-color: #222;
    color: white;
  }

  .ssc_popupText {
    flex-direction: column;
    margin: 10px 20px 0 20px;
    font-size: 1.3em;
    text-align: center;
  }
  span.positive {
    color: $highlight;
  }
  span.negative {
    color: orange;
  }
  p.success {
    color: $primary;
    font-weight: bold;
    margin: 1rem 0 0 0;
  }
}
