@import '../styles/fonts';
@import '../styles/variables';
@import '../styles/ssc_common';

#options-root {
  max-width: 700px;
  margin: auto;
}
.uppercase {
  text-transform: uppercase;
}
.ssc_options {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 2em;
    margin-bottom: 0;
  }
  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  .subtitle {
    margin-top: 0.5em;
  }
  ol li {
    margin-top: 6px;
  }
  label {
    font-weight: bold;
  }
  hr {
    border: none;
    border-bottom: 1px solid #aaa4;
  }
}
.ssc_container {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
  /* For Copy URL and Say Thanks buttons */
  button > img,
  a > img {
    margin: 5px 1px;
  }
}
.ssc_adjacentImage {
  margin: 20px 1px 10px 10px;
  box-shadow: -3px 3px 3px 0px silver;
}
.small {
  width: 240px;
  border-radius: 20px;
}
.ssc_columns {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.ssc_column {
  margin: 10px;
  padding: 0 0 0 20px;
}
.ssc_column:first-child {
  margin-left: 0;
  padding-left: 0;
}
.ssc_columnHeader {
  margin-left: 15px;
  font-weight: bold;
}
.ssc_howToPin {
  margin: 5px 40px 5px 20px;
  padding: 20px;
  box-shadow: 2px 2px 4px 2px #40404059;

  p {
    margin-bottom: 0;
  }
  .ssc_adjacentImage {
    margin-top: 10px;
  }
}
.ssc_fullWidthText {
  p {
    width: 100%;
  }
}
.ssc_howToPinHeader {
  display: flex;
  justify-content: space-between;
}
.ssc_closeButton:hover {
  transition-duration: 0.2s;
  transform: scale(1.25);
}
.ssc_closeButton:active {
  transition-duration: 0.2s;
  transform: scale(0.9);
}
.ssc_flash {
  /* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
  animation: flash 500ms linear 1s 2;
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
