#ssc_toggleButtonController > img {
  // padding increases the click target without affecting anything else
  /* padding-top should be 4px more than .ssc_buttonsContainer margin-top */
  padding: 7px 10px 10px 10px;
}
#ssc_toggleButtonController:hover > img {
  transition-duration: 0.2s;
  transform: scale(1.2);
}
#ssc_toggleButtonController:active > img {
  transition-duration: 0.2s;
  transform: scale(1);
}
