@import '../styles/variables';
.color {
  .primary {
    color: $primary;
  }
  .hover {
    color: $hover;
  }
  .highlight {
    color: $highlight;
  }
}

.ssc_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 10px 10px 0;
  padding: 10px;
  color: white;
  background-color: $primary;
  border: 1px white;
  border-radius: 24px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  transition-duration: 0.2s;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;

  p {
    margin: 0 0 0 10px;
  }
}
.ssc_button:hover {
  transition-duration: 0.2s;
  background-color: $hover;
  cursor: pointer;
}
.ssc_button:active {
  // transition-duration: 0.2s;
  background-color: $highlight;
  box-shadow: 0 0 1px 1px rgba(60, 64, 67, 0.15);
  transform: scale(0.99);
}
.ssc_button:focus {
  outline: none;
}

.ssc_button.secondary {
  background-color: white;
  color: $primary;
}
.ssc_button.secondary:hover {
  background-color: $highlight;
}
.ssc_button.secondary:active {
  background-color: $greyWhite;
}
.ssc_button.white {
  background-color: white;
}
.ssc_button.disabled {
  background-color: $greyWhite;
  color: black;
}

.ssc_inline {
  display: inline-flex;
}
