// colors
$black: #0d0d0d;
$greyWhite: #f3f3f3;
$primary: #1a73e8;
$hover: #174ea6;
$highlight: #90b8fd;

// fonts
$nunito: 'Nunito', sans-serif;

// font weights
$thin: 100;
$exlight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$exbold: 800;
$exblack: 900;
