@import '../styles/fonts';
@import '../styles/variables';
@import '../styles/ssc_common';

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.ssc_hoverContainer {
  font-weight: initial;
  padding: 2px;
}
.ssc_meetControlButton:not(#ssc_remoteImg),
.ssc_presNotActive {
  animation: appear 0.1s ease 0.2s 1 normal backwards;
  text-align: center;
}
.ssc_buttonsContainer {
  margin-top: 3px; /* 4px less than #ssc_toggleButtonController > img padding-top */
  display: flex;
  align-items: center;
  justify-content: center;
}
button.ssc_meetControlButton {
  height: 32px;
  width: 32px;
  background-color: white;
  border: 0;
  padding: 0;
  margin: 3px 10px 0px 10px;
}

.ssc_meetDisabledButton {
  filter: grayscale(100%);
}
.ssc_meetActiveButton:hover {
  transition-duration: 0.2s;
  transform: scale(1.2);
}
.ssc_meetActiveButton:active {
  transition-duration: 0.2s;
  transform: scale(1);
}
.ssc_presNotActive p {
  margin-top: 7px;
  margin-bottom: 0;
}
.ssc_havingTrouble {
  font-size: 0.9em;
  margin: 0;
  a:link,
  a:visited,
  a:active {
    color: $primary;
  }
  a:hover {
    color: $hover;
  }
}
