@import '../styles/fonts';
@import '../styles/variables';
@import '../styles/ssc_common';

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.ssc_meetSetup {
  width: 350px;
  animation: appear 0.1s ease 0.2s 1 normal backwards;

  textarea {
    width: 100%;
    resize: none;
  }
}
.ssc_horizontallyCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ssc_verticallyCentered {
  display: flex;
  align-items: center;
}
.ssc_smallFont {
  font-size: 0.9em;
  margin-top: 0.5em;
  line-height: initial;
}
.ssc_truncate {
  width: 225px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ssc_header {
  margin: 10px 0 0 0;
  font-size: 1.1em;
  font-weight: 600;
}
.ssc_validation {
  margin: 2px 0 0 0;
  color: red;
  font-size: 0.8em;
}
.ssc_hideMessage {
  text-align: center;
  font-size: 0.8em;
}
.ssc_turnOffLink {
  color: $primary;
}
.ssc_turnOffLink:hover {
  text-decoration: underline;
}

.ssc_switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
  vertical-align: text-top;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .ssc_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 8px;
  }
  .ssc_slider:before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  input:checked + .ssc_slider {
    background-color: $primary;
  }
  input:checked + .ssc_slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
}
