@import '../styles/fonts';
@import '../styles/variables';
@import '../styles/ssc_common';

.ssc_meetControlWrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  overflow: visible !important;
  background-color: white;
  color: #5f6368 !important;
  height: 48px;
  width: 56px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  opacity: 1;
}
.collapsed {
  opacity: 0.3;
  transition-duration: 0.2s;
}
.collapsed:hover,
.collapsed:active {
  opacity: 1;
  transition-duration: 0.2s;
  background-color: white;
}

.ssc_meetControlWrapperWide {
  transition-duration: 0.2s;
  width: 400px;
}
.ssc_meetControlWrapperWideTall {
  transition-duration: 0.2s;
  width: 400px;
  height: 350px;
  box-shadow: 0px 2px 5px silver;
}
.ssc_meetControlWrapperWideMedium {
  transition-duration: 0.2s;
  width: 400px;
  height: 110px;
  box-shadow: 0px 2px 5px silver;
}
