.ssc_optionsBox {
  width: 400px;
  margin: 5px;
  border: 1px solid silver;
  border-radius: 15px;
  padding: 10px 15px 15px 15px;
  background-color: white;
  transition-duration: 0.4s;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.ssc_optionsBox:hover {
  // box-shadow: 0 0 5px #1a73e8;
  background-color: #e8f0fe;
  cursor: pointer;
}
.ssc_optionsBox:active {
  box-shadow: 0 0 1px 1px rgba(60, 64, 67, 0.15);
  transform: scale(0.99);
}
.ssc_optionsBox.disabled {
  background-color: silver;
  transition-duration: 0.4s;
}
.ssc_optionsToggleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ssc_optionsSecondaryText {
  color: grey;
  font-size: 0.8em;
}
