.ssc_copyButton {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
  background: white;
}
.ssc_copyButton:hover {
  transition-duration: 0.2s;
  transform: scale(1.1);
}
.ssc_copyButton:active {
  transition-duration: 0.2s;
  transform: scale(0.9);
}
.ssc_copyButton:focus {
  outline: none;
}
